

.social > li {
    display: inline-block;
    margin: 0 5px;
  }

.content-footer {
margin: 50px 0;
padding: 20px 0;
text-align: center;
/* background-color: #73A8C2; */
background-color: #8d016a;;
text-decoration: none;
}


.content-footer > p {
    color: #F7EDE1;
  }
  a {
      font-weight: bold;
      text-decoration: none;
      color: #F1C863;
  }

